# Server Configuration
PORT=5000
NODE_ENV=development

# MySQL Database Configuration
DB_HOST=localhost
DB_PORT=3306
DB_NAME=defaultdb
DB_USER=root
DB_PASSWORD=your_mysql_password
DB_SSL_MODE=DISABLED

# Razorpay Configuration
RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret

# Admin JWT Secret
JWT_SECRET=your_secret_jwt_key

# Admin Default Credentials
DEFAULT_ADMIN_EMAIL=admin@example.com
DEFAULT_ADMIN_PASSWORD=your_admin_password
